[Unit]
Description=Qortrollor Service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=%E/qystemd/qystemd.conf
ExecStart=%E/qystemd/qystemd_executor.sh start  --mainpid $MAINPID
ExecStop=%E/qystemd/qystemd_executor.sh stop  --mainpid $MAINPID
ExecStartPost=%E/qystemd/qystemd_executor.sh start_post  --mainpid $MAINPID

[Install]
WantedBy=default.target
